<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% postList.results.forEach(function(post) {%>
        <li>
            <h2>Posted by: <%= post.postedBy.username %></h2><br>
            <img src=<%= post.imageUrl %>><br>
            <h2><%= post.message %></h2><br>
            <p><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></p><br> 
            
            <span><%= post.likedBy.length %> 
            <% if (post.likedBy.length > 1) { %>
                likes and
            <% } else { %>
                like and 
            <% }; %></span>

            <span><%= post.dislikedBy.length %> 
            <% if (post.dislikedBy.length > 1) { %>
                dislikes.
            <% } else { %>
                dislike.
            <% }; %></span>
                
        </li><br>
    <% }); %>
</ol>

<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>

</body>
<%- include('_footer') -%>
</html>