<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <div class="page-container">
        
        <h1>Posts</h1>

        <ol class="flex-container">
            <% postList.results.forEach(function(post) {%>
                <li class="post">
                    <h2 class="posted-by">Posted by: <%= post.postedBy.username %></h2>

                    <img src=<%= post.imageUrl %>>

                    <h2 class="message"><%= post.message %></h2>

                    <span class="likes-dislikes"><%= post.likedBy.length %> 
                        <% if (post.likedBy.length == 1) { %>
                            like
                        <% } else { %>
                            likes
                        <% }; %></span>

                    <form method="post" action="/posts/<%= post.id %>/like/">
                        <button class="like-button" type="submit">Like</button>
                    </form>

                    <span class="likes-dislikes"><%= post.dislikedBy.length %> 
                        <% if (post.dislikedBy.length == 1) { %>
                            dislike
                        <% } else { %>
                            dislikes
                        <% }; %></span>

                    <form method="post" action="/posts/<%= post.id %>/dislike/">
                        <button class="dislike-button" type="submit">Dislike</button>
                    </form>

                    <p class="date"><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></p> 
                        
                </li><br>
            <% }); %>
        </ol>

        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
    </div>
</body>
<%- include('_footer') -%>
</html>