<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<div class ="cover-image-container">
    <img class="post-image" src=<%= coverImageUrl %>>
 <!-- profile image -->
<div class="user-text-container">
    <h1><%= name %></h1>
    <p><%= username %></p> 
    <p><%= email %></p>
</div>

 <!-- posts -->
</body>
<%- include('_footer') -%>
</html>